.main_container {
  background-color: #116c88e5;
}

.main_part {
  background-color: #09bbf1e5;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Open Sans", "Arial", "sans-serif";
  color: white;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

.container {
  width: 1140px;
  padding: 0 20px;
  margin: 0 auto;
}
.none {
  display: none;
}
.avatar {
  width: 300px;
  height: 300px;
  object-fit: cover;
}
.active {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  padding-bottom: 50px;
}
